@import 'nib'

body#landing
    padding-top 80px

body#notfound
    padding-top 80px

.page-header
    padding-bottom 40px

.hidden
    display none

.table-thumbnail
    min-height 30px

#framecontent
    height 500px
    border 1px solid #E4E4E4

.top15
    margin-top 15px
.top30
    margin-top 30px

.bottom15
    margin-bottom 15px
.bottom30
    margin-bottom 30px 

textarea
    resize vertical

.article-header
    margin-top 5px
    margin-bottom 0px

.article-description
    margin-top 10px
    margin-bottom 0px

.article-image
    width 100%

.article
    background-color white
    box-shadow 1px 2px 20px 1px lightgrey
    border-radius 0

#content img
    width 100%
    height auto
    border 1px solid gainsboro

.header-image
    width 100%

iframe
    width 100%
    height auto

#content
    p
        margin 20px 0 20px 0
        word-wrap break-word
        font-size 18px

.media-object
    border 1px solid gainsboro

pre, code
    white-space pre-wrap
    white-space -moz-pre-wrap
    white-space -pre-wrap
    white-space -o-pre-wrap
    word-wrap break-word

.header-title
    word-wrap break-word
    margin 25px 0 25px 0

p.source
    margin 10px 0 0 0
    color gray

.navbar
    margin-bottom 0

.navbar-default
    background-color #557ebf
    border 0

.navbar-brand
    height auto
    padding 10px 15px

.navbar-logo
    margin-right 5px

.navbar-logo-text
    vertical-align text-bottom
    color white

@media screen and (-webkit-min-device-pixel-ratio:0)
    select:focus, textarea:focus, input:focus
        font-size 16px
        background #eee
